<h1>Ask</h1>

<form action="/questions" method="get" >
  <input type="text" name="question" placeholder="What question do you want to ask the coach?">
  <input type="submit">
</form>






<!-- puts "Hello, I am your coach, what did you want to tell me?"

answer = nil

while answer != ""
  print "> "
  message = gets.chomp
  answer = coach_answer_enhanced(message)
  puts answer
end

puts "Great, see ya!" -->
